<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
	
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">
<script
	src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



<!-- Page Content -->
<div class="container" >

  <div class="jumbotron" style = "background-color:#90AEFF;border-radius:30px">
	    <h1>Laureat Grepi gallery page</h1>      
    <p >This is a web page created by Laureat Grepi.</p>
   
  </div>
<div class="navbar">
  <a  href="/index"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="/CV"><i class="fa fa-address-card-o"></i> CV</a> 
  <a class="active" href="/gallery"><i class="fa fa-address-card-o"></i> Galleria</a> 
  <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a href="/index"><i class="fa fa-fw fa-user"></i> Login</a>

</div> 
</div> 	
		<center>Here is a few picture of me, my family and some of my closest friends.<br>
	
<div class="container page-top">



	<div class="row">


		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria1.jpg" class="fancybox" rel="ligthbox">
				<img alt="" src="../img1/galleria1.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria2.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria2.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria3.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria3.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>


		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria4.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria4.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria5.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria5.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria6.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria6.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria7.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria7.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>


		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria9.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria9.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria10.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria10.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria11.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria11.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria12.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria12.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria13.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria13.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria14.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria14.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria15.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria15.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria16.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria16.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria17.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria17.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria18.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria18.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria19.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria19.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria29.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria29.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria30.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria30.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria20.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria20.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria21.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria21.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria22.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria22.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria23.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria23.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria24.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria24.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria25.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria25.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria26.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria26.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria27.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria27.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="../img1/galleria28.jpg" class="fancybox" rel="ligthbox">
				<img src="../img1/galleria28.jpg"
				style="max-width: 200px; max-height: 200px" class="zoom img-fluid"
				alt="">
			</a>
		</div>


	</div>




</div>


<title>Insert title here</title>
<style type="text/css">
body {
	background-color: #1d1d1d !important;
	font-family: "Asap", sans-serif;
	color: #989898;
	margin: 10px;
	font-size: 16px;
}

#demo {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.green {
	background-color: #6fb936;
}

.thumb {
	margin-bottom: 30px;
}

.page-top {
	margin-top: 85px;
}

img.zoom {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.modal-header {
	border-bottom: none;
}

.modal-title {
	color: #000;
}

.modal-footer {
	display: none;
}
.navbar{
	width: 100%;
  	background-color: #138471;
  	overflow: auto;
  	border-radius:20px;
	} 
	.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
   border-radius:15px;
}

.active {
  background-color: #4EB500;
  border-radius:15px;
}
.info {
	width: 75%;
	height: 300px;
	background-color: #1F9158;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	border-radius: 10px;
	 font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox({
				openEffect : "none",
				closeEffect : "none"
			});

			$(".zoom").hover(function() {

				$(this).addClass('transition');
			}, function() {

				$(this).removeClass('transition');
			});
		});
	</script>

</body>
</html>